.portrait {
    border-radius: 25%;
    max-width: 300px;
    max-height: 300;
}

.about-me {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    padding: 0.25rem 0;
    margin-left: 1rem;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    border-bottom: 0.12rem solid transparent;
}

.nav-link:hover {
    color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

code {
    justify-items: start;
    align-items: start;
    color: rgb(185, 34, 42);
}
