<div class="row about-me">
    <div class="col-sm-8 offset-2">
        <div class="row text-center text-light">
            <p class="fs-1">Will Graham
            <p>
            <p class="fs-3">Devops guy, full stack developer, and adrenaline enthusiast
            <p>
        </div>
        <div class="row text-start">
            <br> <br>
            <p>Hey there, I'm Will. I like to make things using technology, read books, practice meditation,
                as well as engage in a few types of sport.
                This website is a personal project of mine that I created to practice my skills in a few
                different technologies, share a few of my ideas, and showcase some cool things I've
                experienced so far.
                Feel free to browse around, read a bit, or drop me a line at <a
                    href="mailto:wgraham800@gmail.com">wgraham800@gmail.com</a>.
            </p>
        </div>
    </div>
</div>